/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure full-width */
    height: 100%; /* Ensure full-height */
    box-sizing: border-box; /* Optional: makes width and height calculations more predictable */
  }